{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["**/*.scss"],
      "options": {
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}
